

.toast-enter-from {
  opacity: 0;
  transform: translateY(-60px);
}
.toast-enter-to {
  opacity: 1;
  transform: translateY(0px);
}
.toast-enter-active {
  transition: all 0.3s ease;
}

.toast-leave-from {
  opacity: 1;
  transform: translateY(0px);
}
.toast-leave-to {
  opacity: 0;
  transform: translateY(-60px);
}
.toast-leave-active {
  transition: all 0.3s ease;
}



.fade-enter-from {
  opacity: 0;
}
.fade-enter-to {
  opacity: 1;
}
.fade-enter-active {
  transition: all 1s ease;
}

.fade-left-before{
  opacity: 0;
  transform: translateX(50px);
  transition: all 1s ease-out;
}

.fade-left-after{
  opacity: 1;
  transform: translateX(0px);
}

.fade-right-before{
  opacity: 0;
  transform: translateX(-50px);
  transition: all 1s ease-out;
}

.fade-right-after{
  opacity: 1;
  transform: translateX(0px);
}

.fade-bottom-before{
  opacity: 0;
  transform: translateY(-30px);
  transition: all 0.5s ease-out;
}

.fade-bottom-after{
  opacity: 1;
  transform: translateY(0px);
}

.fade-top-before{
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.5s ease-out;
}

.fade-top-after{
  opacity: 1;
  transform: translateY(0px);
}

.fade-before{
  opacity: 0;
  transition: all 0.5s ease-out;
}

.fade-after{
  opacity: 1;
}