.swipe-anim{
  transform: translate(0px, -41.25vw);
}

.hide-page{
  animation: hidePage 0.5s forwards;
}

.show-page{
  animation: showPage 0.5s forwards;
}




@keyframes hidePage {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes showPage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}





@media (max-width: 1400px) {
  .swipe-anim{
    transform: translateY(-62vw)
  }
}

@media (max-width: 800px) {
  .swipe-anim{
    transform: translateY(-414px)
  }
}
