/*.nav{
  width: 100%;

  background: linear-gradient(-45deg, #95c221, #b8ff00);
  background-size: 400% 400%;
  animation: nav-gradient-flow 20s ease infinite;
  height: 30px;
}*/

.nav{
  width: 60%;
  height: 50px;
}

.nav-height{
  height: 50px;
}

.outer-nav{
  width: 100%;
  height: 60px;
}

.nav-element{
  background: #ffffff;
}

.nav-info-width{
  width: 25%
}

.nav-right-space-width{
  width: 5%
}

.nav-middle-width{
  width: 45%
}

.nav-round-corner{
  border-radius: 10px;
}

.info-nav{
  width: 100%;
  height: 80px;
}

.social-media-item{
  display: flex;
  font-size: 20px;
  height: 50px;
}

.download-list-item{
  display: flex;
  font-size: 20px;
  height: 50px;
}

.nav-box-module{
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;

  transition: transform 250ms;
}

.nav-box-module:hover{
  transform: scale(1.2,1.2);

}

.nav-module{
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;

  transition: transform 250ms;
}

.nav-module:hover{
  transform: scale(1.2,1.2);

}

.nav-info-text{
  font-size: 22px;
}

.nav-sub{
  width: 400px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.nav-space{
  width: 40px;
}

.info-nav-space{
  width: 20vw;
}

.nav-logo{
  width: 100%;
  object-fit: contain;
}

.info-nav-text{
  font-size: 23px;
}

.logo-element-margin{
  margin-left: 300px
}

.info-element-margin{
  margin-left: 70vw
}

.nav-logo-element{
  width: 20%
}

.nav-menu-image{
  visibility: collapse;
}

.nav-a-module{
  width: 100%;
}

.nav-a-module:hover{
  background: #eeeeee;
}




.nav-box {
  width: 85vw;
  height: 220px;
  transition: height 1s;
  opacity: 0;
  box-shadow: 0px 0px 10px #222222;
}

.nav-box.off {
  animation: hideBox 0.5s forwards;
}
.nav-box.on {
  animation: showBox 0.5s forwards;
}


.nav-box.none{
  visibility: hidden;
}







@keyframes showBox {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hideBox {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 1450px) {

  .nav-module{
    font-weight: normal;
    font-size: 1.6vw;
  }
  .nav-height{
    height: 3.5vw;
  }
}

@media (max-width: 1330px) {
  .nav-info-text{
    font-size: 1.6vw;
  }

  .nav-logo{
    width: 300px;
  }

  .nav-logo-element{
    width: 350px;
    border-radius: 10px;
  }
}

@media (max-width: 1050px) {
  .nav-module{
    font-size: 1.45vw;
  }
}

@media (max-width: 920px) {
  .nav-module{
    visibility: hidden;
  }

  .nav-info-element{
    height: 40px;
  }

  .nav-info-text{
    visibility: hidden;
  }

  .nav-round-corner{
    border-radius: 0px;
  }

  .nav-logo-element{
    width: 400px;
    border-radius: 10px;
  }
  .nav-height{
    height: 40px;
  }

  .nav-logo{
    width: 300px;
  }

  .nav-info-width{
    width: 0%
  }

  .nav-right-space-width{
    width: 75%
  }
  .nav-middle-width{
    width: 0%
  }

  .nav-menu-image{
    visibility: visible;
    object-fit: contain;
  }

  .nav-menu-icon{
    width: 40px;
    content: url("menu.png");
  }

  .nav-cross-icon{
    margin-right: 5px;
    width: 30px;
    content: url("cross.png");
  }


}

@media (max-width: 480px) {
  .nav-logo{
    width: 200px;
  }
}