.gamesdb-enter-from {
  opacity: 0;
  transform: translateX(-200px);
}
.gamesdb-enter-to {
  opacity: 1;
  transform: translateX(0px);
}
.gamesdb-enter-active {
  transition: all 1s ease;
}

.gamesdb-leave-from {
  opacity: 1;
  transform: translateX(0px);
}
.gamesdb-leave-to {
  opacity: 0;
  transform: translateX(-200px);
}
.gamesdb-leave-active {
  transition: all 1s ease;
}

.toast-enter-from {
  opacity: 0;
  transform: translateY(-60px);
}
.toast-enter-to {
  opacity: 1;
  transform: translateY(0px);
}
.toast-enter-active {
  transition: all 0.3s ease;
}

.toast-leave-from {
  opacity: 1;
  transform: translateY(0px);
}
.toast-leave-to {
  opacity: 0;
  transform: translateY(-60px);
}
.toast-leave-active {
  transition: all 0.3s ease;
}







.gamesfg-enter-from {
  opacity: 0;
  transform: translateX(200px);
}
.gamesfg-enter-to {
  opacity: 1;
  transform: translateX(0px);
}
.gamesfg-enter-active {
  transition: all 1s ease;
}

.gamesfg-leave-from {
  opacity: 1;
  transform: translateX(0px);
}
.gamesfg-leave-to {
  opacity: 0;
  transform: translateX(200px);
}
.gamesfg-leave-active {
  transition: all 1s ease;
}





.fade-enter-from {
  opacity: 0;
}
.fade-enter-to {
  opacity: 1;
}
.fade-enter-active {
  transition: all 1s ease;
}



.fadeleft-enter-from {
  opacity: 0;
  transform: translateX(200px);
}
.fadeleft-enter-to {
  opacity: 1;
  transform: translateX(0px);
}
.fadeleft-enter-active {
  transition: all 1s ease;
}


.faderight-enter-from {
  opacity: 0;
  transform: translateX(-200px);
}
.faderight-enter-to {
  opacity: 1;
  transform: translateX(0px);
}
.faderight-enter-active {
  transition: all 1s ease;
}




.fadetop-enter-from {
  opacity: 0;
  transform: translateY(-200px);
}
.fadetop-enter-to {
  opacity: 1;
  transform: translateY(0px);
}
.fadetop-enter-active {
  transition: all 1s ease;
}




.fadebottom-enter-from {
  opacity: 0;
  transform: translateY(200px);
}
.fadebottom-enter-to {
  opacity: 1;
  transform: translateY(0px);
}
.fadebottom-enter-active {
  transition: all 1s ease;
}













.particle-container .particle{
  position: absolute;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background: radial-gradient(rgb(209, 79, 0) 40%, rgb(156, 46, 0), #784c00, rgb(255, 81, 0));
  box-shadow: 3px 5px 10px rgba(131, 69, 0, 0.51);

}

.particle-container .particle:nth-child(1){
  top: 12%;
  left: 42%;
  animation: particle-motion 100s ease-in-out infinite;
}

.particle-container .particle:nth-child(2){
  top: 70%;
  left: 50%;
  animation: particle-motion 70s ease-in-out infinite;
}
.particle-container .particle:nth-child(3){
  top: 17%;
  left: 6%;
  animation: particle-motion 90s ease-in-out infinite;
}
.particle-container .particle:nth-child(4){
  top: 20%;
  left: 60%;
  animation: particle-motion 100s ease-in-out infinite;
}
.particle-container .particle:nth-child(5){
  top: 67%;
  left: 10%;
  animation: particle-motion 60s ease-in-out infinite;
}
.particle-container .particle:nth-child(6){
  top: 80%;
  left: 70%;
  animation: particle-motion 110s ease-in-out infinite;
}
.particle-container .particle:nth-child(7){
  top: 60%;
  left: 80%;
  animation: particle-motion 60s ease-in-out infinite;
}
.particle-container .particle:nth-child(8){
  top: 32%;
  left: 25%;
  animation: particle-motion 60s ease-in-out infinite;
}
.particle-container .particle:nth-child(9){
  top: 90%;
  left: 25%;
  animation: particle-motion 90s ease-in-out infinite;
}
.particle-container .particle:nth-child(10){
  top: 10%;
  left: 80%;
  animation: particle-motion 50s ease-in-out infinite;
}

.particle-container .particle:nth-child(11){
  top: 24%;
  left: 82%;
  animation: particle-motion 100s ease-in-out infinite;
}

.particle-container .particle:nth-child(12){
  top: 97%;
  left: 5%;
  animation: particle-motion 70s ease-in-out infinite;
}
.particle-container .particle:nth-child(13){
  top: 97%;
  left: 60%;
  animation: particle-motion 90s ease-in-out infinite;
}
.particle-container .particle:nth-child(14){
  top: 30%;
  left: 40%;
  animation: particle-motion 50s ease-in-out infinite;
}
.particle-container .particle:nth-child(15){
  top: 47%;
  left: 55%;
  animation: particle-motion 70s ease-in-out infinite;
}
.particle-container .particle:nth-child(16){
  top: 70%;
  left: 80%;
  animation: particle-motion 80s ease-in-out infinite;
}
.particle-container .particle:nth-child(17){
  top: 40%;
  left: 40%;
  animation: particle-motion 100s ease-in-out infinite;
}
.particle-container .particle:nth-child(18){
  top: 23%;
  left: 15%;
  animation: particle-motion 40s ease-in-out infinite;
}
.particle-container .particle:nth-child(19){
  top: 90%;
  left: 90%;
  animation: particle-motion 30s ease-in-out infinite;
}

.particle-container .particle:nth-child(20){
  top: 85%;
  left: 95%;
  animation: particle-motion 70s ease-in-out infinite;
}

@keyframes particle-motion {
  0%{
    transform: translate(0);
    opacity: 1;
  }

  10%{
    transform: translate(5px -20px);
    opacity: 0.8;
  }

  20%{
    transform: translate(-10px, -30px);
    opacity: 0.7;
  }

  30%{
    transform: translate(15px, -40px);
    opacity: 0.5;
  }

  40%{
    transform: translate(-20px, -60px);
    opacity: 0.2;
  }

  50%{
    transform: translate(40px, -100px);
    opacity: 0;
  }

  60%{
    transform: translate(-20px, -60px);
    opacity: 0.2;
  }

  70%{
    transform: translate(15px, -40px);
    opacity: 0.5;
  }

  80%{
    transform: translate(-10px, -30px);
    opacity: 0.7;
  }

  90%{
    transform: translate(5px -20px);
    opacity: 0.8;
  }

  100%{
    transform: translate(0);
    opacity: 1;
  }

}