.register-button{
    display: flex;
    width: 300px;
    height: 50px;
    margin: 2px;

    border: 3px solid transparent;

    cursor: pointer;
    border-radius: 10px;

    font-size: 25px;
}


.main-field-text{
    width: 80%;
    height: 80%;
}

.main-field-image{
    height: 800px;
    transform: translateY(-170px);
    opacity: 1;
}


.nav-button{
    display: flex;
    width: 170px;
    height: 40px;
    margin: 2px;

    border: 3px solid transparent;

    background: linear-gradient(to bottom, #dc4201, #fd922d), linear-gradient(to bottom, #c5937e, #1f5043);

    cursor: pointer;
    border-radius: 100px;

    font-size: 25px;
}

.nav-button{
    display: flex;
    width: 170px;
    height: 40px;

    background: linear-gradient(#000000, #000000) padding-box,
    linear-gradient(to right, #dc4201 50%, #fd922d) border-box;

    border-radius: 50px;
    border: 3px solid transparent;

    cursor: pointer;
    border-radius: 50px;
}

.ui-button-discord{
    min-width: 220px;
    height: 40px;
    margin: 2px;
    border: solid 2px #7289DA;
    cursor: pointer;
    border-radius: 100px;
    background: transparent;
    color: #7289DA;

    font-size: 25px;
}

.chain-image{
    display: inline;
    width: 15px;
    object-fit: cover;
}

.haken-image{
    width: 50px;
    object-fit: cover;
}

.wide-ui-button{
    width: 350px;
}

.wider-ui-button{
    width: 400px;
}

.game-button-default{
    display: flex;
    width: 140px;
    height: 50px;

    margin: 5px;

    border: 3px solid transparent;

    cursor: pointer;
    border-radius: 10px;

    font-size: 25px;
}

.register-input{
    width: 300px;
    height: 30px;
    font-size: 20px;
    border: solid;
    border-radius: 10px;
    border-color: transparent;
    padding-left: 10px;
}

.prim-color{
    color: #ffa600;
}

.prim-color-background{
    background: #ffa600;

}

.shadow{
    box-shadow: 0px 0px 10px #ff8500;
}

.shadow-dicebluff{
    box-shadow: 0px 0px 10px #ff8500;
    clip-path: inset(-15px -15px -15px 0px);
}

.shadow-framegame{
    box-shadow: 0px 0px 10px #5BFF00;
    clip-path: inset(-15px 0px -15px -15px);
}

.shadow-amongus{
    box-shadow: 0px 0px 10px #0066FF;
    clip-path: inset(-15px -15px -15px 0px);
}


.white-background{
    background: #ffffff;
}

.check-box{
    width: 30px;
    height: 30px;
}

.check-box-label{
    margin-left: 10px;
    font-size: 20px;
}

.check-view{
    margin-top: 10px;
    display: flex;

}

.lang-border{
    display: flex;
    padding: 2px;
    width: 70px;
    height: 30px;
    border: solid;
    border-radius: 50px;
    border-color: #fd922d;
}

.white{
    color: #ffffff;
}

.black{
    color: #000000;
}

.inforge-text-icon{
    height: 60px;
    display: flex;
}

.inforge-text{
    width: 95vw;
    max-width: 400px;
    object-fit: contain;
}

.raute{
    width: 150px;
    object-fit: contain;
}

.stats-raute{
    height: 100px;
    object-fit: contain;
}

.stats-headline{
    font-size: 4em;
}

.main-card{
    width: 40%;
    padding: 15px;
    background: rgba(0, 0, 0, 0.5);
}

.project-box-mobile{
    display: none;
}

.project-1{
    transform: translate(100px, -100px)
}

.project-box-half{
    width: 45vw;
    height: 700px;
    border-image: linear-gradient(#497c85, #6c95f8) 30;
    border-width: 2px;
    border-style: solid;
}

.project-box-half-mobile{
    width: 95vw;
    border-image: linear-gradient(#497c85, #6c95f8) 30;
    border-width: 2px;
    border-style: solid;
}

.project-page-box{
    width: 1400px;
    max-width: 90vw;
    border-image: linear-gradient(#497c85, #6c95f8) 30;
    border-width: 4px;
    border-style: solid;
}

.project-page-headline{
    background: #1a1a1a;
    padding: 10px;
    height: 30px;
}

.project-space{
    height: 200px;
}

.project-space-under{
    height: 210px;
}

.project-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.suggest{
    display: flex;
}

.suggest-mobile{
    display: none;
}

.stats-space{
    height: 800px;
}

.stats-grid-dicebluff{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 7vw;
}

.stats-grid-framegame{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10vw;
}

.stats-grid-inforge{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10vw;
}

.stats-text{
    font-size: 4em;
}

.stats-subtext{
    font-size: 1em;
}

.stats{
    width: 90vw;
    height: 150px;
    background: rgba(0, 157, 255, 0.1);
}

.infocard-headline{
    font-size: 1.5em;
}

.infocard-button{
    display: flex;
    width: 200px;
    height: 40px;
    margin: 2px;

    border: 3px solid transparent;

    background: rgba(41, 57, 96, 0.5);

    cursor: pointer;
    border-radius: 100px;

    font-size: 25px;
}

.infocard-text{
    font-size: 0.9em;
}

.infocard{
    background: rgba(29, 33, 40, 0.5);
    border-radius: 20px;
    width: 250px;
    height: 360px;
}

.ideascard{
    background: rgba(38, 54, 87, 0.5);
    border-radius: 20px;
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.main-field-text-block{
    width: 50%;
}

.main-field-content{

}

.main-field-logo{

}

.project-content-image{
    width: 100%;
    height: auto;
}

.project-headline-image{
    width: 100%;
    height: auto;
}

.suggest-image{
    width: 100%;
    height: auto;
}




.mobile-nav{
    width: 600px;
    height: auto;
    background: #333333;
    transform: translateY(100px);
}

.mobile-nav-module{
    width: 100%;
    height: 70px;
}

.mobile-nav-module:hover{
    width: 100%;
    height: 70px;
    background: linear-gradient(to bottom, #dc4201, #fd922d);
}

.menu-image{
    display: none;
    width: 50px;
}

.main-card-button-pos{
    height: auto;
}

.card-align{
    display: flex;
    justify-content: center;
}

.discord-login-button{
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.discord-logout-button{
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.discord-button {
    max-width: 320px;
    display: flex;
    overflow: hidden;
    position: relative;
    padding: 0.875rem 72px 0.875rem 1.75rem;
    background-color: rgba(88,101,242,1);
    background-image: linear-gradient(to top right,rgb(46, 56, 175),rgb(82, 93, 218));
    color: #ffffff;
    font-size: 15px;
    line-height: 1.25rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-family: Arial;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    gap: 0.75rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border: none;
    transition: all .6s  ease;
}

.discord-button span {
    background-color: rgb(82, 93, 218);
    display: grid;
    position: absolute;
    right: 0;
    place-items: center;
    width: 3rem;
    height: 100%;
}

.discord-button span svg {
    width: 1.5rem;
    height: 1.5rem;
}

.discord-avatar{
    width: 48px;
    height: 48px;
    border-radius: 9999px;
}

.discord-button:hover {
    box-shadow: 0 4px 30px  rgba(4, 175, 255, .1), 0 2px 30px rgba(11, 158, 255, 0.06);
}

.menu-nav{
    display: flex;
}

.dicebluff-background{
    background: rgba(255, 173, 0, 0.07);
}

.framegame-background{
    background: rgba(91, 255, 0, 0.07);
}

.amongus-background{
    background: rgba(0, 102, 255, 0.07);
}

.games-module-left{
    width: 90vw;
    height: auto;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;

}

.games-module-right{
    width: 90vw;
    height: auto;
    border-bottom-left-radius: 40px;
    border-top-left-radius: 40px;
}

.games-display-button{
    display: flex;
}

.suggestion-page{
    margin: 20px;
}

.suggestion-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: center;
    justify-items: center;
}

.suggestion-item{
    max-width: 31vw;
}

.suggestion-view-border{
    width: 31vw;
    border: solid;
    border-radius: 12px;
    border-color: transparent;
    margin-top: 20px;
}

.suggestion-code-color-0{
    color: #ff460b;
}
.suggestion-code-color-1{
    color: #f7ff00;
}
.suggestion-code-color-2{
    color: #5dbeff;
}
.suggestion-code-color-3{
    color: #00ff06;
}

.suggestion-font{
    font-size: 15px;
}

.ai-status-font{
    font-size: 23px;
}

.ai-code-color-0{
    color: #ff460b;
}
.ai-code-color-1{
    color: #ffc400;
}
.ai-code-color-2{
    color: #00ff06;
}

.content-layout-color{
    background-color: #212121;
}

.error-color{
    color: #ff0000;
}

.visible-link-color{
    color: #00b576;
}

.oneline-input{
    outline: none !important;
    width: 400px;
    height: 40px;
    font-size: 20px;
    border: solid;
    border-radius: 5px;
    border-color: transparent;
    padding-left: 10px;
    color: #ffffff;
}

.input-border{
    background: linear-gradient(#050505, #050505) padding-box,
    linear-gradient(to right, #497c8500, #6c95f800) border-box;
    background-size: 400% 400%;
}

.input-border:focus{
    background: linear-gradient(#050505, #050505) padding-box,
    linear-gradient(to right, #497c85, #6c95f8) border-box;
    background-size: 400% 400%;
}




@media (max-width: 1990px) {
    .project-headline-image{
        width: auto;
        height: 100%;
    }
}

@media (max-width: 1580px) {
    .suggest-image{
        width: auto;
        height: 100%;
    }
}

@media (max-width: 1500px) {

    .suggestion-view-border{
        width: 45vw;
        border: solid;
        border-radius: 12px;
        border-color: transparent;
        margin-top: 20px;
    }



    .suggestion-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        align-items: center;
        justify-items: center;
    }

    .suggestion-item{
        max-width: 48vw;
    }
}

@media (max-width: 1400px) {

    .project-box-mobile{
        display: inline-block;
    }

    .project-box-right{
        width: 95vw;
        height: 800px;
    }
    .project-space-under{
        height: 400px;
    }

    .infocard{
        width: 40vw;
    }
}


@media (max-width: 1350px) {
    .chain-image{
        display: none;
    }
}

@media (max-width: 1300px) {
    .project-content-image{
        width: auto;
        height: 100%;
    }

}

@media (max-width: 1130px) {
    .main-field-image{
        opacity: 0;
    }
    .main-field-text-block{
        width: 80%;
    }
    .main-field-content{
        text-align: center;
    }

    .main-field-logo{
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 980px) {
    .stats-grid-dicebluff{
        gap: 5vw;
    }

    .stats-grid-framegame{
        gap: 5vw;
    }
}

@media (max-width: 950px) {

    .suggestion-view-border{
        width: 90vw;
        border: solid;
        border-radius: 12px;
        border-color: transparent;
        margin-top: 20px;
    }



    .suggestion-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        align-items: center;
        justify-items: center;
    }

    .suggestion-item{
        max-width: 700px;
    }
}

@media (max-width: 750px) {
    .suggest{
        display: none;
    }

    .suggest-mobile{
        display: flex;
    }

    .main-card{
        width: 90vw;
        margin-bottom: 20px;
    }
    .card-align{
        display: block;
    }

    .stats-space{
        height: 50px;
    }
}

@media (max-width: 720px) {
    .suggestion-font{
        font-size: 2vw;
    }
    .ai-status-font{
        font-size: 5vw;
    }
}

@media (max-width: 700px) {
    .menu-image{
        display: flex;
    }

    .inforge-text-icon{
        display: none;
    }

    .stats-text{
        font-size: 10vw;
    }
}

@media (max-width: 670px) {
    .games-display-button{
        display: block;
    }
}

@media (max-width: 600px) {
    .mobile-nav{
        width: 95vw;
    }

    .main-field-text-block{
        width: 95%;
    }
}

@media (max-width: 550px) {
    .project-grid{
        grid-template-columns: repeat(1, 1fr);
    }

    .infocard{
        width: 90vw;
    }

    .project-box-right{
        height: 1700px;
    }

    .project-space-under{
        height: 1200px;
    }

    .stats-raute{
        width: 15vw;
    }
    .stats-headline{
        font-size: 10vw;
    }
}

@media (max-width: 530px) {
    .stats-text{
        font-size: 7vw;
    }

    .stats-grid-dicebluff{
        gap: 3vw;
    }

    .stats-subtext{
        font-size: 3vw;
    }

    .stats{
        height: 20vw;
    }
}

@media (max-width: 500px) {
    .wide-ui-button{
        width: 320px;
    }
    .wider-ui-button{
        width: 320px;
    }
}

@media (max-width: 440px) {
    .suggestion-font{
        font-size: 2.79vw;
    }
}
